@import "bootstrap/scss/bootstrap";

h1 {
	font-size: 3rem;
	font-weight: 700;
	color: #343a40;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	margin-bottom: 2rem;

	&:hover {
		color: #007bff;
		text-decoration: underline;
	}
}
